* {
  padding: 0;
  box-sizing: border-box;
}

.menu {
  height: 40px;
  margin: 30px auto;
  text-align: center;
  border-radius: 4px;
  border-bottom: 1px solid black;
}
.menu a {
  padding-left: 0.5em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
  width: 80px;
}
.content {
  width: 100%;
  position: relative;
  top: 0;
}
.container {
  text-align: center;
}
.sidebar {
  position: relative;
  margin-left: 100px;
  float: left;
  border: 1px solid black;
}
.sidebar img {
  width: 250px;
  border-bottom: 1px solid black;
}
.sidebar .container {
  line-height: 10px;
}
.bio-table {
  position: relative;
  float: left;
  margin-left: 80px;
  border: 1px solid black;
  width: 400px;
}
.bio-table .table-caption {
  border-bottom: 1px solid black;
}
.bio-table table {
  width: 100%;
}
.bio-table table tr td {
  padding: 1em;
}
